.reading, .unread {
  background-color: #ccc;
  padding:5px;
}

.reading {
  box-shadow:3px 3px 5px #888;
}

.unread-count {
  font-weight: bold;
}

.settings-icon {
  float: right;
  padding-left: 5px;
  font-size: 25px;
}

.settings {
  cursor: pointer;
}

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

.hidden {
  display: none;
  position: fixed;
  left: 50%;
  margin-left: -330px;
  top: 200px;
  width: 600px;
  padding: 30px;
  background: #FFF;
}